<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Universal Medical Card Portal</title>
    <!-- Main CSS-->
    <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='css/main.css') }}">
    <!-- Font-icon css-->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
  <main class="app-content" style= "margin:0%;height:100vh;">
        <div class="tile" style="margin:100px;text-align:center;height:30vh; background-color:gray;">
            <div class="tile">
                    <h3 class="tile-title">Universal Medical Card Portal</h3>
                    <div class="tile"><a class="btn btn-primary" href="{{ url_for('register') }}">Register</a></div>
                    <div class="tile"><a class="btn btn-primary" href="#">Login</a></div>
            </div>
        </div>
    </main>
  </body>